html{
	height:100%;
}

body {
	min-height:100%;
   	width:100%;
	margin: 0;
	position: relative;
	background-color: rgb(247, 247, 247);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navbar-inverse {
	background-color: #000;
}

.main-container{
	margin: 0 auto;
  	padding-top: 30px;
  	max-width: 100%;
  	width: 100%;
}

.jumbotron{
	background-color: transparent;
}
.jumbotron h1 {
    font-size: 30px;
    text-align: center;
}

#signupBox {
	padding: 20px;
	margin: 50px auto;
	width: 350px;
	background-color: rgba(245, 245, 245, 0.9);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#loginBox {
	padding: 20px;
	margin: 50px auto;
	width: 350px;
	display: none; /* Login box will not appear until user clicked on login button */
	background-color: rgba(245, 245, 245, 0.9);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

h1, input {
	font-family: Oleo Script, cursive;
	color: black;
}

.input {
	width: 75%;
	height: 50px;
	display: block;
	margin: 0 auto 15px;
	padding: 0 15px;
	border: none;
	border-bottom: 2px solid #ebebeb;
}

.input:focus {
	outline: none;
	border-bottom-color: #3CC !important;
}

.input:hover {
	border-bottom-color: #dcdcdc;
}

.input:invalid {
	box-shadow: none;
}

.pass:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
	position: relative;
	width: 75%;
	height: 50px;
	display: block;
	margin: 30px auto 30px;
	color: white;
	background-color: #3CC;
	border: none;
	-webkit-box-shadow: 0 5px 0 #2CADAD;
	-moz-box-shadow: 0 5px 0 #2CADAD;
	box-shadow: 0 5px 0 #2CADAD;
}

.inputButton:hover {
	top: 2px;
	-webkit-box-shadow: 0 3px 0 #2CADAD;
	-moz-box-shadow: 0 3px 0 #2CADAD;
	box-shadow: 0 3px 0 #2CADAD;
}

.inputButton:active {
	top: 5px;
	box-shadow: none;
}

.inputButton:focus {
	outline: none;
}
.footer{
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: transparent;
  	text-align: center;
}
.footer p{
	color:white;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
  float: right;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loginError{
	color: Red;
	text-align: center;
}

#sidebar-wrapper {
	top: 50px;
	margin-left: -250px;
	left: 250px;
	width: 250px;
	background: #000;
	position: fixed;
	height: 100%;
	overflow-x: hidden;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	position: relative;
	line-height: 20px;
	display: inline-block;
	width: 100%;
	font-weight: bold;
}

.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 3px;
	background-color: orange;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}

.sidebar-nav li:first-child a:before {
	color: #fff;
	background-color: orange;
}

.sidebar-nav li:nth-child(2):before {
	background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(3):before {
	background-color: #79aefe;
}

.sidebar-nav li:nth-child(4):before {
	background-color: #314190;
}

.sidebar-nav li:nth-child(5):before {
	background-color: #279636;
}

.sidebar-nav li:nth-child(6):before {
	background-color: #7d5d81;
}

.sidebar-nav li:nth-child(7):before {
	background-color: #ead24c;
}

.sidebar-nav li:nth-child(8):before {
	background-color: #2d2366;
}

.sidebar-nav li:nth-child(9):before {
	background-color: #35acdf;
}

.sidebar-nav li:hover:before, .sidebar-nav li.open:hover:before {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}

.sidebar-nav li a {
	font-weight: bold;
	display: block;
	color: #ddd;
	text-decoration: none;
	padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus,
	.sidebar-nav li.open a:hover, .sidebar-nav li.open a:active,
	.sidebar-nav li.open a:focus {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 20px;
	line-height: 44px;
}

.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: #222;
	box-shadow: none;
}

.items-container{
	top: 70px;
	position: relative;
  	padding-left: 270px;
}


@media screen and (max-width: 500px) {
  #sidebar-wrapper {width: 79px;}
  .sidenav nav {width: 79px;}
  .sidebar-nav li a{padding: 10px; font-size: 13px; font-weight: bold;}
}

@media screen and (max-width: 500px) {
  .items-container{
  	padding-left: 90px;
  }
}

.badge{
	display: inline-block;
    width: 40px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 40px;
}

legend{
	width:40%;
}

#userInformationBody{
	max-height: 290px;
	overflow-y: auto; 
}

#orderBody{
	max-height: 290px;
	overflow-y: auto; 
}